[submodule "TwitchLib.PubSub"]
	path = TwitchLib.PubSub
	url = git@github.com:blakdragan7/TwitchLib.PubSub.git
[submodule "StreamElementsNET"]
	path = StreamElementsNET
	url = git@github.com:blakdragan7/StreamElementsNET.git
